# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Flask instance folder (config sensible)
instance/config.json
instance/config.docker.json
instance/gmail_credentials.json
instance/gmail_token.json
instance/gmail_token.json-old
instance/telegram_chat.json

# Apache config (datos del servidor)
webconfig/

# Tokens
.token-gtdapp

# Logs
*.log

# IDE
.vscode/
.idea/

# Temporary
*.tmp
*.bak
backups/


static/emojis.txt
gtdApp.code-workspace
